<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">

<!-- Masthead-->

<header class="masthead2">
    <div class="container px-4 px-lg-8 h-80">
        <div class="row gx-4 gx-lg-5 h-80 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white-75 font-weight-bold">Open Positions</h1>
                <hr class="divider mb-5" />
            </div>
            <ul class="text-white-50 mb-2">Way to your dream career! </ul>
            <hr class="divider-light mb-5">
            <div class="col-lg-8 align-self-baseline mb-5">
                <div class="row">
                    <div class="column">

                        <li class="btn btn-danger btn-x text-center mb-4">  <a class= "btn-close-white btn-x mb-5" href="#SE_intern"> Software Engineering Intern </a> </li>
                        <li class="btn btn-danger btn-x text-center mb-4"> <a class=" btn-close-white btn-x mb-5" href="#Senior_DS">Senior Data Sciencentist </a> </li>
                        <li class="btn btn-danger btn-x text-center mb-4"> <a class=" btn-close-white btn-x mb-5" href="#services">Business Analytics </a> </li>
                    </div>
                    <div class="column">
                        <li class="btn btn-danger btn-x text-center mb-4"> <a class="btn-close-white btn-x mb-2" href="#services">Associate QA Lead </a> </li>
                        <li class="btn btn-danger btn-x text-center mb-4"> <a class="btn-close-white btn-x mb-2" href="#services">Sales Manger </a> </li>
                        <li class="btn btn-danger btn-x text-center mb-4"> <a class="btn-close-white btn-x mb-2" href="#services"> Junior Data Engineer </a> </li>
                        <li class="btn btn-danger btn-x text-center mb-4"><a class="btn-close-white btn-x mb-2" href="#services">Cloud Intern </a> </li>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn bg-light btn-x mb-2 " href='/'>Back </a>
    </div>

</header>

<!-- SE Intern -->
<section class="page-section" id="SE_intern">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0 mb-1">Software Engineering Intern</h2>
        <hr class="divider" />
        <a class="btn btn-primary btn-x mb-2" href='https://script.google.com/macros/s/AKfycbzk6pVC01BgzAKe3jWy-dSWuccP7jO3SyidIggPxivcb3KR7Leu-Fqper-7UGX242AZ/exec'>Apply Now</a>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-4 mb-0 text-center">
            </div>
            <div class="col-lg-10 col-md-1 text-left">
                <div class="mt-0">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">What We Are Looking For </h3>
                    <ul class="text-muted mb-1"> <li> Undergraduate with a Bachelor's Degree or higher in Computer Science, Computer Engineering or related field </li> </ul>
                    <ul class="text-muted mb-0"> <li> Proficient in one of the following languages: Python, Java or C++ </li> </ul>
                    <ul class="text-muted mb-0">  <li> Must be great at problem solving and has a can-do attitude. </li> </ul>
                    <ul class="text-muted mb-0"> <li> No problem is too big to solve mindset and the ability to work with minimal supervision.</li> </ul>
                    <ul class="text-muted mb-0"> <li> Experience in working and developing in a Unix/Linux environment.</li> </ul>
                    <ul class="text-muted mb-0"> <li> Preferred Knowledge of Python, Java, Spark, Hadoop, Docker, Machine learning techniques is a big plus.</li> </ul>
                    <ul class="text-muted mb-0"> <li> Experience with Docker, Jenkins, Git, machine learning algorithms, statistics, distributed/parallel systems.</li> </ul>
                    <ul class="text-muted mb-5"> <li> Exposure to cloud (AWS,GCP,Azure) </li> </ul>
                     </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Senior Data Scientist -->
<section class="page-section" id="Senior_DS">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0 mb-1">Senior Data Scientist</h2>
        <hr class="divider" />
        <a class="btn btn-primary btn-x mb-2" href='https://script.google.com/macros/s/AKfycbyuMfdmeVzmstOasiZD4GsGOhJ-4E_r_T3T2Gc6O1THzJETGOa4jiKvMk1NUAkFMOOjvg/exec'>Apply Now</a>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-4 mb-0 text-center">
            </div>
            <div class="col-lg-10 col-md-1 text-left">
                <div class="mt-0">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">What We Are Looking For </h3>
                    <ul class="text-muted mb-1"> <li>Bachelor's degree in Computer Science, Telecommunication engineering or other IT-related field </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Data science and machine learning: solid theoretical knowledge and middle experience </li> </ul>
                    <ul class="text-muted mb-0">  <li> Data science and machine learning: solid theoretical knowledge and middle experience </li> </ul>
                    <ul class="text-muted mb-0"> <li> Python: advanced experience </li> </ul>
                    <ul class="text-muted mb-0"> <li> Field-related libraries like pytorch, keras, numpy, pandas, opencv, etc. : advanced experience </li> </ul>
                    <ul class="text-muted mb-0"> <li> Deep learning frameworks: middle experience </li> </ul>
                    <ul class="text-muted mb-0"> <li> Data annotation and quality revision: middle experience </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Linux systems: middle experience </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Git: middle experience </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Ability to handle multiple tasks, and meet deadlines in a dynamic environment. </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Advanced English level and strong communication skills. </li> </ul>
                    <ul class="text-muted mb-5"> <li>  LSelf-motivated, working well both independently and as part of the team </li> </ul>
                    </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- BA -->
<section class="page-section" id="BA">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Business Analytics </h2>
        <hr class="divider" />
        <a class="btn btn-primary btn-x mb-2" href='https://script.google.com/macros/s/AKfycbzCzswcli6sozU_15GRmUxYxda_-9oLvepQrT4okcRDobX9YMP8kreqvMB5p-GCF9Bavw/exec'>Apply Now</a>

        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-4 mb-1 text-center">
            </div>
            <div class="col-lg-10 col-md-1 text-left">
                <div class="mt-0">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">What We Are Looking For </h3>
                    <ul class="text-muted mb-1"> <li>Undergraduate degree or master’s degree or 1+ years of work experience after completing your undergraduate degree; Requirements may vary by country or practice </li> </ul>
                    <ul class="text-muted mb-0"> <li>  Ability to work collaboratively in a team and create an inclusive environment with people at all levels of an organization </li> </ul>
                    <ul class="text-muted mb-0">  <li> Data science and machine learning: solid theoretical knowledge and middle experience Capability to drive an independent workstream in the context of a broader team project</li> </ul>
                    <ul class="text-muted mb-0"> <li> Comfort with ambiguous, ever-changing situations </li> </ul>
                    <ul class="text-muted mb-0"> <li>Ability to break down and solve problems through quantitative thinking and analysis </li> </ul>
                    <ul class="text-muted mb-5"> <li> Ability to communicate effectively, both verbally and in writing, in English </li> </ul>
                   </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
