<!DOCTYPE html>
<html>
  <head>
    <title>main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main</h1>
    <p>Welcome to Main page</p>

    <button type="button" onclick="location.href='/new-page'">Go to New Page</button>


  </body>
</html>


